<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Order [Chrome]" >
        <parameter name="browser" value="chrome" />
        <parameter name="selenium.grid" value="http://localhost:4444/wd/hub" />
        <classes>
            <class name="miksrok.selenium.tests.MainTest" />
        </classes>
    </test>
    <test name="Create New Order [Firefox]" >
        <parameter name="browser" value="firefox" />
        <parameter name="selenium.grid" value="http://localhost:5555/wd/hub" />
        <classes>
            <class name="miksrok.selenium.tests.MainTest" />
        </classes>
    </test>
    <test name="Create New Order [PhantomJS]" >
        <parameter name="browser" value="phantom" />
        <parameter name="selenium.grid" value="http://localhost:6666/wd/hub" />
        <classes>
            <class name="miksrok.selenium.tests.MainTest" />
        </classes>
    </test>
    <test name="Create New Order [Android]" >
        <parameter name="browser" value="android" />
        <parameter name="selenium.grid" value="http://localhost:7777/wd/hub" />
        <classes>
            <class name="miksrok.selenium.tests.MainTest" />
        </classes>
    </test>
</suite>